*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazonlogo.png");
    background-size: cover;
    height: 50px;
    width: 100px;

}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/** Box2 in navbar for address **/

.address-upper{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.address-lower{
    font-size: 1rem;
    margin-left: 3px;

}
.addressicon{
    display: flex;
}

/** box3 in navbar for search **/

.navsearch{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    width: 750px;
    height: 40px;
    border-radius: 4px;
}
.navsearch:hover{
    border: 1px solid orange;
    border: border-box;
}
.search-select{
    background-color: #e6e2e2;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.searchicon{
    background-color: rgb(242, 173, 34);
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    color: #0f1111;
}

/* box4 in navbar for signin */

span{
    font-size: 0.7rem;
}
.navsignin-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box in navbar for cart */

.nav-cart i{
    font-size: 25px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color : white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
.hero-section{
    background-image: url(hero-image.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* Shop Section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #636996dd;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-p{
    text-decoration: none;
    color: #007185;
}
.box-content h2{
    height: 50px;
    display: flex;
    align-items: center;
}

/* Blank Div */

.blank-div{
    background-color: #636996dd;
    height: 50px;
}
/* Footer */

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 5px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid rgb(87, 86, 86);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-logo{
    background-image: url("amazonlogo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 70px;
    font-size: 0.8rem;
    text-align: center;
}
.foot-pages{
    padding-top: 20px;
}
.foot-pages a{
    margin-left: 10px;
}
.foot-copyright{
    padding-top: 5px;
}